---
- name: "Install browsers"
  become: true
  vars:
    chromium:
      Archlinux: "chromium"
      Debian: "chromium-browser"
      Darwin: "chromium"
  ansible.builtin.package:
    name:
      - "firefox"
      - "{{ chromium[ansible_facts['os_family']] }}"
