---
rules:
  key-ordering: "disable"
  trailing-spaces: {}
  empty-lines:
    max: 1
  quoted-strings:
    quote-type: "double"
    required: true
    allow-quoted-quotes: true
  indentation:
    spaces: 2
  line-length:
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: false
  truthy:
    allowed-values: ["true", "false"]
    check-keys: true
